# Dependencias
node_modules/

# Builds
.next/
dist/
*.zip
*.tsbuildinfo
next-env.d.ts

# Variables de entorno (los .example sí se versionan)
.env
.env.local
.env*.local

# Logs
npm-debug.log*
pnpm-debug.log*

# Sistema / editor
.DS_Store
Thumbs.db
.vscode/

# AWS SAM
.aws-sam/
